.wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

.shop-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 16px;
}

.cart {
	position: fixed;
	bottom: 32px;
	right: 32px;
	overflow: visible;
	z-index: 10;
}

.cart__value {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
	font-size: 12px;
	background-color: black;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
}

.basket {
	position: fixed;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60vw;
}

.basket__close {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.secondary-content {
	cursor: pointer;
}

.toast-container {
	position: fixed;
	z-index: 10;
	top: 32px;
	right: 24px;
}
